//! **************************************************************************
// Written by: Map P.20131013 on Fri Jun 10 11:37:43 2022
//! **************************************************************************

SCHEMATIC START;
COMP "counter7seg<5>" LOCATE = SITE "B4" LEVEL 1;
COMP "counter7seg<6>" LOCATE = SITE "A3" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "en<0>" LOCATE = SITE "B2" LEVEL 1;
COMP "en<1>" LOCATE = SITE "A2" LEVEL 1;
COMP "en<2>" LOCATE = SITE "B3" LEVEL 1;
COMP "counter7seg<0>" LOCATE = SITE "C6" LEVEL 1;
COMP "counter7seg<1>" LOCATE = SITE "D6" LEVEL 1;
COMP "rst" LOCATE = SITE "F17" LEVEL 1;
COMP "counter7seg<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "counter7seg<3>" LOCATE = SITE "C4" LEVEL 1;
COMP "counter7seg<4>" LOCATE = SITE "A4" LEVEL 1;
SCHEMATIC END;

